@mixin D-Flex ($justify, $aling){
    display: flex;
    justify-content: $justify;
    align-items: $aling;
}
@mixin Flex-justify ($justify){
    display: flex;
    justify-content: $justify;
}
@mixin Flex-aling ($aling){
    display: flex;
    align-items: $aling;
}

@mixin Grid-row-colum ($rowS, $rowE, $colums){
    grid-row-start:$rowS ;
    grid-row-end:$rowE ;
    grid-column: $colums;
}
// como llamarlo: map-get($font-family, "nombre de variable a usar") ejemplo: map-get($font-family, "Textos");
$font-family: (
    Titulos : "Almendra SC",
    Textos : "PT Serif"
);

// como llamarlo: @extend .nombreDeVariableUsada (ejemplo: @extend .color-titulos;)
.color-titulos{
    color: brown;
}

// como llamarlo: propiedad: $variableAUsar (ejemplo: color: $color-backgraund;)
$color-backgraund: rgb(201,95,57);