@mixin D-Flex ($justify, $aling){
    display: flex;
    justify-content: $justify;
    align-items: $aling;
}
@mixin Flex-justify ($justify){
    display: flex;
    justify-content: $justify;
}
@mixin Flex-aling ($aling){
    display: flex;
    align-items: $aling;
}

@mixin Grid-row-colum ($rowS, $rowE, $colums){
    grid-row-start:$rowS ;
    grid-row-end:$rowE ;
    grid-column: $colums;
}
