/* Aventuras */
.gridAventura{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-content: center;

    }
  .desAventura{
    background-color: $color-backgraund;
    text-align: center;
    border: 2px black solid;
    border-radius: 2%;
    font-size: large;
    width:70% ;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .desAlguAve{
    background-color:$color-backgraund;
    text-align: center;
    border: 2px black solid;
    border-radius: 2%;
    font-size: large;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 30%;
  }
.imgTamaño{
    width: 300px;
    margin-right: 10px;
}

.iframeAventura{
    width: 500px;
    height: 300px;
}
@media only screen and (min-width: 320px) and (max-width: 599px){
  .iframeAventura{
    width: 15rem;
    height: 10rem;
}
.imgTamaño{
  width: 15rem;
}
.desAlguAve{
  width: 50%;
}
}
