    /* manuales */
    .manualesGrid{
        display: grid;
        grid-template-columns: 0.5fr  1fr 0.5fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
    }
    .M1{
        @include Grid-row-colum (1, 2, 2);
    }
    .M2{
        @include Grid-row-colum (2, 3, 2);
    }
    .M3{
        @include Grid-row-colum (3, 4, 2);
    }

    .M4{
        @include Grid-row-colum (4, 5, 2);
    }

    .manuales{
        flex-flow: column;
        @include Flex-aling (center);
        
    }

    .post{
    font-size: x-large;
    margin: 30px;
    @include Flex-aling (center);
    }

    // animacion de img
    .animacionImg {
            width: 300px;
            box-shadow: 0 8px 8px black;
            transition: 0.3s;
        }
    .animacionImg:hover {
            transition: 0.3s;
            width: 310px;
            box-shadow: 0 10px 10px rgb(253, 206, 118);
        }

    .post div{
        background-color: brown;
        border: 2px solid black;
        width: 300px;
        height: 250px;
        font-family: 'PT Serif', serif;
        margin-right: 50px;
        box-shadow: 3px 8px 8px rgb(0, 0, 0);

    }

    .post a{
        text-decoration:none;
        color: grey;
        font-size: xx-large;
    }


                    
                    