.intro{
    background-color: rgb(201, 95, 57);
    width: 300px;
    border: solid 1px black;
    border-radius: 5%;
   font-size: x-large;
   padding: 5px;
}
.texto2{
    background-color: brown;
    width: 800px;
    font-size: larger;
    border: 2px solid black;
    margin: 40px;
}